@import "../../../../index.scss";

.about {
  .info {
    // padding: 0 40px;
    &__text {
      font-weight: 400;
      font-size: 17px;
      line-height: 36px;
      color: $black;
      &:not(:last-child) {
        margin-bottom: 20px;
        @media (max-width: $sm) {
          margin-bottom: 12px;
        }
      }
      @media (max-width: $lg) {
        font-size: 15px;
        line-height: 30px;
      }
      @media (max-width: $md) {
      }
      @media (max-width: $sm) {
        line-height: 26px;
      }
    }
  }
}
