@import "../../index.scss";

.block {
  background-color: $white;
  margin: 40px 0;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.11);
  padding: 40px;
  border-radius: 27px;
  @media (max-width: $lg) {
    // margin: 40px 0;
    padding: 35px;
  }
  @media (max-width: $md) {
    margin: 30px 0;
    padding: 25px;
  }
  @media (max-width: $sm) {
    margin: 20px 0;
    padding: 20px;
  }
}
