@import "../../index.scss";

.delimiter {
  position: relative;
  height: 30px;
  background-color: $mainBlue;
  margin: 13px 0;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;

    background-color: $white;
    border-radius: 32px;
  }
  &:before {
    top: -12px;
  }
  &::after {
    bottom: -12px;
  }
}
@media (max-width: $md) {
  .delimiter {
    height: 25px;
    &:before,
    &:after {
      height: 20px;
    }
    &:before {
      top: -10px;
    }
    &::after {
      bottom: -10px;
    }
  }
}
