@import "../../index.scss";

.logo {
  display: inline-block;
  &__img {
    width: 100%;
    max-width: 75px;
    object-fit: cover;
  }
}
@media (max-width: $lg) {
  .logo {
    &__img {
      max-width: 65px;
    }
  }
}
@media (max-width: $md) {
  .logo {
    &__img {
      max-width: 45px;
    }
  }
}
