@import "../../../../index.scss";

.directions {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width: $md) {
      row-gap: 12px;
    }
    @media (max-width: $sm) {
      row-gap: 8px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__icon {
    font-size: 17px;
    color: $mainBlue;
  }
  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 36px;
    color: $black;
    position: relative;
    padding-left: 25px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-image: url("../../../../assets/icons/check.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
    }
    @media (max-width: $lg) {
      font-size: 15px;
      line-height: 30px;
      &::before {
        top: 15px;
      }
    }
    @media (max-width: $md) {
    }
    @media (max-width: $sm) {
      font-size: 14px;
      line-height: 22px;
      &::before {
        width: 13px;
        height: 13px;
      }
    }
  }
}
