@import "../../index.scss";

.slide-wrapper {
  // width: 400px;
  img {
    max-width: 100%;
  }
}

.my-slider {
  // max-width: 950px;
}
.swiper-wrapper {
  // max-width: 950px;
}

.slider-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: $black;
  text-align: center;
  margin-bottom: 10px;
}
