@import "../../index.scss";

.slide-wrapper {
  // width: 400px;
  img {
    max-width: 100%;
  }
}

.my-slider {
  // max-width: 950px;
  @media (max-width: $sm) {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        font-size: 35px;
      }
    }
    .swiper-button-prev {
      &:after {
        position: absolute;
        left: -8px;
      }
    }
    .swiper-button-next {
      &:after {
        position: absolute;
        right: -8px;
      }
    }
  }
}
.swiper-wrapper {
  // max-width: 950px;
}

.slider-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: $black;
  text-align: center;
  margin-bottom: 10px;
  @media (max-width: $lg) {
    font-size: 30px;
  }
  @media (max-width: $md) {
    font-size: 25px;
  }
  @media (max-width: $sm) {
    font-size: 22px;
    line-height: 28px;
  }
}

.swiper-button-prev {
  &::after {
    color: $mainBlue;
  }
}
.swiper-button-next {
  &::after {
    color: $mainBlue;
  }
}
@media (max-width: $lg) {
}
@media (max-width: $md) {
}
